<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Анкета</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>📝 Анкета реферала</h2>
        <form action="/submit" method="POST" class="form-card">
            <label>Фамилия рекрутера</label>
            <input name="recruiter" required>

            <label>ФИО</label>
            <input name="name" required>

            <label>Телефон</label>
            <input name="phone" required>

            <label>Гражданство</label>
            <input name="citizenship" required>

            <label>Город</label>
            <input name="city" required>

            <label>Дата рождения</label>
            <input name="dob" required>

            <button type="submit" class="btn">📩 Отправить</button>
        </form>
    </div>
</body>
</html>
